.main {
	display: flex;
	flex-direction: column;

	justify-content: center;

	padding: 40px 20px;
	gap: 40px;
}

.input_container {
	margin: auto;

	width: 100%;
}

@media screen and (min-width: 480px) {
	.main {
		padding: 72px 48px;
	}

	.input_container {
		width: 400px;
	}
}

@media screen and (min-width: 800px) {
	.main {
		padding: 92px 64px;
	}

	.input_container {
		width: 600px;
	}
}

@media screen and (min-width: 1020px) {
	.input_container {
		width: 800px;
	}
}

.erro {
	position: fixed;
	text-align: center;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	font-size: 20px;
}
