.main {
	padding: 64px 20px;
}

.container {
	display: flex;
	flex-direction: column;

	gap: 40px;
}

.dados_fixos {
	display: flex;
	flex-direction: column;

	gap: 16px;
}

.dados {
	display: flex;
	flex-direction: column;

	gap: 16px;
}

.imagem_container {
	display: flex;
	align-items: center;

	gap: 16px;
	margin-top: 16px;

	.input_imagem {
		width: 80%;
	}
}

.imagem {
	overflow: hidden;

	border: 1px solid var(--gray);
	border-radius: 8px;

	width: 120px;

	aspect-ratio: calc(1 / 1);

	img {
		width: 100%;
		height: 100%;

		object-fit: cover;
	}

	.placeholder {
		display: flex;
		justify-content: center;
		align-items: center;

		width: 100%;
		aspect-ratio: calc(1 / 1);

		font-size: 64px;
	}
}

@media screen and (min-width: 672px) {
	.main {
		padding: 64px 92px;
	}

	.container {
		border: 1px solid var(--primary-color);
		border-radius: 8px;

		padding: 40px 24px;
	}

	.dados_fixos {
		gap: 24px;
	}

	.dados {
		display: grid;
		grid-template-columns: repeat(2, minMax(0, 1fr));
		grid-template-areas:
			"a b"
			"d e"
			"c c";

		gap: 24px;
	}

	.imagem_container {
		justify-content: center;

		grid-area: c;

		height: 280px;
		padding: 20px;

		border: 1px solid var(--gray);
		border-radius: 8px;
	}

	.imagem {
		width: 160px;
	}
}

@media screen and (min-width: 860px) {
	.dados_fixos {
		display: grid;
		grid-template-columns: repeat(3, minMax(0, 1fr));
	}

	.dados {
		grid-template-columns: repeat(3, minMax(0, 1fr));
		grid-template-areas:
			"a b c"
			"d e c"
			"f f c";
	}

	.imagem_container {
		flex-direction: column;
	}
}

@media screen and (min-width: 980px) {
	.imagem_container {
		height: 340px;
		.input_imagem {
			width: 200px;
		}
	}
}

.erro_imagem{
	display: flex;
	justify-content: center;
	text-align: center;

	color: var(--red);
}