@media screen and (max-width: 672px) {
  .main{
    padding: 20px;
  }
}

.inputs{
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.erro{
  display: flex;
  justify-content: center;
  font-size: 18px;
}