.inputBox {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.label {
  padding-left: 8px;
}

.input {
  min-height: 40px;
  padding: 8px;
  border-radius: 8px;

  outline: none;

  border-color: var(--gray);
  color: var(--gray);
}

.input::placeholder {
  color: var(--light-gray);
}
