.card_farmacia {
	display: flex;
	align-items: center;
	overflow: hidden;

	gap: 16px;

	border: 1px solid var(--primary-color);
	border-radius: 8px;

	text-decoration: none;
	color: var(--black);
	background-color: var(--white);

	width: 100%;

	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.dados {
	display: flex;
	flex-direction: column;

	gap: 4px;
}

.imagem {
	display: flex;
	align-items: center;

	padding: 8px;

	img {
		object-fit: cover;

		border-radius: 8px;

		max-width: 56px;
		aspect-ratio: calc(1 / 1);
	}
}

.placeholder {
	display: flex;
	color: var(--white);

	background-color: var(--secondary-color);
	border-radius: 8px;

	font-size: 40px;
	padding: 8px;
}

@media screen and (min-width: 480px) {
	.card_farmacia {
		flex-direction: column;

		gap: 0;

		max-width: 240px;
		text-align: center;
	}

	.imagem {
		border-bottom: 1px solid var(--primary-color);
		border-radius: 8px;

		padding: 20px;

		img {
			max-width: 160px;
		}
	}

	.placeholder {
		justify-content: center;

		padding: 20px;
		font-size: 120px;
	}

	.dados {
		padding: 12px;
		gap: 4px;
	}
}
