.card_farmacia {
	display: flex;
	align-items: center;
	overflow: hidden;

	gap: 16px;
	padding: 8px;

	border: 1px solid var(--primary-color);
	border-radius: 8px;

	text-decoration: none;
	color: var(--black);
	background-color: var(--white);

	width: 100%;
}

.dados {
	display: flex;
	flex-direction: column;

	gap: 4px;
}

.imagem {
	position: relative;
	display: flex;
	align-items: center;

	width: 56px;
	aspect-ratio: calc(1 / 1);

	img {
		position: absolute;
		object-fit: cover;

		border-radius: 8px;

		max-width: 56px;
		aspect-ratio: calc(1 / 1);

		left: 50%;
		top: 50%;

		transform: translate(-50%, -50%);
	}
}

.placeholder {
	position: absolute;
	justify-content: center;
	display: flex;
	color: var(--white);

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color: var(--secondary-color);
	border-radius: 8px;

	font-size: 40px;
	padding: 8px;
}

@media screen and (min-width: 480px) {
	.card_farmacia {
		flex-direction: column;

		gap: 0;

		max-width: 200px;
		text-align: center;
	}

	.imagem {
		border-radius: 8px;

		padding: 20px;

		width: 160px;

		img {
			max-width: 160px;
		}
	}

	.placeholder {
		justify-content: center;

		padding: 20px;
		font-size: 120px;
	}

	.dados {
		margin: auto;

		padding: 12px;
		gap: 4px;
	}
}
