.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;

	border: 1px solid var(--primary-color);

	height: 64px;

	background-color: var(--primary-color);
	color: var(--white);
}

.opcoes {
	display: flex;
	align-items: center;
}

.hamburguer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 64px;
	padding: 8px;

	background-color: var(--primary-color);
	color: var(--white);

	font-size: 36px;
}

.icone{
	display: flex;
	justify-content: center;
	align-items: center;
}