.etapa_retratil {
	display: flex;
	flex-direction: column;

	gap: 24px;
}

.form {
	display: grid;
	align-items: end;

	grid-template-columns: repeat(4, minmax(0, 1fr));

	gap: 24px;
}

.form.erros{
	align-items: center;
}

.plantoes {
	display: flex;
	flex-wrap: wrap;

	gap: 16px;
}
