.listagem {
	display: flex;
	flex-direction: column;

	max-width: 1096px;
	width: 100%;

	gap: 8px;
}

@media screen and (min-width: 480px) {
	.listagem {
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;

		margin: auto;
	}
}

@media screen and (min-width: 800px) {
	.listagem {
		gap: 24px;
	}
}