@media screen and (min-width: 672px) {
	.botao{
		display: flex;
		align-items: center;
		border: none;
		
		background-color: var(--primary-color);
		color: var(--white);

		padding: 20px;

		height: 64px;

		font-size: 18px;

		svg{
			font-size: 24px;
		}
	}

	.botao:hover{
		filter: brightness(0.95);
	}
}

.botao:hover{
	cursor: pointer;
}