.etapa_retratil{
	display: flex;
	flex-direction: column;

	gap: 24px;
}

.form {
	display: flex;
	align-items: flex-end;

	gap: 24px;
}

.form_inputs {
	display: flex;
	align-items: flex-end;

	width: 75%;

	gap: 24px;
}

.botao{
	width: 25%;
}

.horarios{
	display: grid;

	grid-template-columns: repeat(4, minmax(0, 1fr));

	gap: 16px 24px;
}