.botao {
  min-height: 40px;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;

  background-color: var(--primary-color);
  color: var(--white);

  border: 1px solid var(--primary-color);
}

.secundario {
  background-color: var(--white);
  color: var(--primary-color);
}

.botao:hover {
  cursor: pointer;

  filter: brightness(95%);
}
