.container {
	position: relative;

	display: flex;
	flex-direction: column;
}

.input_box {
	display: flex;
	flex-direction: row;
	overflow: hidden;

	border: 1px solid var(--gray);
	border-radius: 8px;

	color: var(--gray);
}

.input_ativo{
	border-radius: 8px 8px 0 0;
}

.input {
	outline: none;
	border: none;

	padding: 12px 8px;
	width: 100%;
}

.icone {
	display: flex;
	align-items: center;

	padding: 8px;
}

.hidden {
	display: none;
}

.opcoes {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	position: absolute;

	width: 100%;
	height: 0;
	top: 100%;
	
	button {
		width: 100%;
		padding: 8px;
		
		z-index: 999;

		color: var(--gray);

		border: none;
	}

	button:hover {
		cursor: pointer;

		filter: brightness(0.9);
	}
}

.opcoes_ativo{
	height: fit-content;

	border: 1px solid var(--gray);
	border-radius: 0 0 8px 8px;
}