.container{
	display: flex;
	flex-direction: row;

	overflow: hidden;

	border: 1px solid var(--gray);
	border-radius: 8px;

	color: var(--gray);
}

.input{
	outline: none;
	border: none;

	padding: 12px 8px;
	width: 100%;
}

.icone{
	display: flex;
	align-items: center;

	padding: 8px;
}

.hidden{
	display: none;
}