:root{
  --primary-color: #2A9D8F;
  --secondary-color: #6AD4C5;
  --light-color: #C3FCF2;
  --pink: #F77EEC;
  --ref: #A70000;
  --black: #000000;
  --gray: #7A7A7A;
  --light-gray: #DADADA;
  --lighter-gray: #EAEAEA;
  --white: #FAFAFA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}