.map_container{
	display: flex;
	flex-direction: column;

	gap: 8px;
}

.map_title {
	padding-left: 8px;
}

.map{
	width: 40%;
	aspect-ratio: calc(480/270);
}

.erro_imagem{
	text-align: center;

	color: var(--red);
}


@media screen and (max-width: 1080px) {
  .map{
    width: 50%;
  }
}

@media screen and (max-width: 920px) {
  .map{
    width: 60%;
  }
}

@media screen and (max-width: 840px) {
	.map{
		width: 100%;
	}
}