.opcao_administrativa {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: space-between;

	border: 1px solid var(--primary-color);
	border-radius: 8px;

	padding: 14px;

	color: var(--black);
}

.icone{
	font-size: 36px;
	height: 36px;

	color: var(--primary-color);
}

@media screen and (min-width: 480px) {
	.opcao_administrativa{
		justify-content: flex-start;
		
		padding: 16px;
		gap: 16px;
	}

	.icone{
		font-size: 48px;
		height: 48px;
	}
}