.opcao_administrativa {
	display: flex;
	align-items: center;
	text-decoration: none;
	justify-content: space-between;

	border: 1px solid var(--primary-color);
	border-radius: 8px;

	padding: 14px;

	color: var(--black);
}

.icone{
	font-size: 36px;
	height: 36px;

	color: var(--primary-color);
}