.pagina {
	display: flex;
	align-items: center;
	justify-content: center;

	border: 1px solid var(--primary-color);
	border-radius: 8px;

	font-size: 20px;

	width: 40px;
	height: 40px;
}

.clicavel {
	color: var(--primary-color);
	background-color: var(--white);
}

.clicavel:hover {
	cursor: pointer;

	background-color: var(--primary-color);
	color: var(--white);
}

.ativo {
	background-color: var(--primary-color);
	color: var(--white);
}

.inativo {
	background-color: var(--white);
	border-color: var(--light-gray);
	color: var(--light-gray);
}
