.container {
  display: flex;
  flex-direction: column;
	align-self: flex-start;

  gap: 8px;
}

.head {
  display: flex;
  
  gap: 8px;
}

.label {
  padding-left: 8px;
}

.erro{
  color: var(--red)
}