.item {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 18px;
	padding: 8px;

	border: 1px solid var(--primary-color);
	border-radius: 8px;

	text-decoration: none;
	color: var(--black);
}

.imagem {
	position: relative;

	width: 56px;
	aspect-ratio: calc(1 / 1);

	img {
		position: absolute;
		object-fit: cover;

		aspect-ratio: calc(1 / 1);

		border-radius: 8px;
		max-width: 100%;

		left: 50%;
		top: 50%;

		transform: translate(-50%, -50%);
	}
}

.placeholder {
	position: absolute;
	display: flex;

	border-radius: 8px;
	padding: 8px;

	font-size: 40px;

	color: var(--white);
	background-color: var(--secondary-color);
}

.conteudo {
	display: flex;
	flex-direction: column;

	gap: 8px;
}

@media screen and (min-width: 480px) {
	.item {
		justify-content: space-between;
	}

	.conteudo {
		text-align: right;
	}
}
